/* Khandoker Zahin */
/* 02/20/2025 */
/* style.css */

/* CSS Reset */
body, header, nav, main, footer, img, h1, h3, ul {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for body and images */
body {
    background-color: #f6eee4;
}

img {
    max-width: 100%;
    display: block;
}
/* Style rules for mobile viewpoint */


/* Style rules to show mobile class and hide tab-desk class */

@media screen and (max-width: 767px) {
    .mobile { 
      display: block; 
    } 
    .tab-desk { 
      display: none; 
    }
    .tel-link {
        display: block;
        background-color: #2a1f14;
        padding: 2%;
        width: 80%;
        margin: 0 auto;
        text-align: center;
        border-radius: 6px;
  }
  .tel-link a {
    color: #f6eee4;
    text-decoration: none;
    font-weight: bold;
}
.tab-desk {
    display: none; 
}
}
  
  /* Style rules for tablet and larger screens */
  @media screen and (min-width: 768px) {
    .mobile { 
      display: none; 
    } 
    .tab-desk { 
      display: inline; 
    }
    .tel-link {
        display: inline; 
        background: none;
        padding: 0;
        width: auto;
        margin: 0;
    }
  }

@media screen and (max-width: 768px){

    nav {
        background-color: #2a1f14;
    }
    
    nav ul {
        list-style-type: none;
        
        padding: 0;
        text-align: center;
    }
    
    nav li {
        display: block;
        font-size: 1.5em;
        font-family: Geneva, Arial, sans-serif;
        font-weight: bold;
        border-top: 0.5px solid #f6eee4;
    }
    
    
    
    /* Style rules for main content*/
    
    
    nav li a {
        display: block;
        color: #f6eee4;
        padding: 0.5em 1.5em;
        text-decoration: none;
    }
    #info ul{
        margin-left:2em;
    }
    
}
/* Style rules for header area */

.mobile h1, .mobile h3{
    padding:2%;
    text-align: center;

}


    /* When the menu is open */
    nav ul.show {
        display: flex;
    }


/* Style rules for navigation area */

nav {
    background-color: #2a1f14;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    font-size: 1.5em;
    font-family: Geneva, Arial, sans-serif;
    font-weight: bold;
}



/* Style rules for main content*/


nav li a {
    display: block;
    color: #f6eee4;
    padding: 0.5em 2em;
    text-decoration: none;
}

/* Style rules for main content */
.mobile h1{
    font-family: "Emblema One", serif, sans-serif;
}
.mobile h3{
    font-family: "Lora", serif, sans-serif;

}
main {
    padding: 2%;
    font-family: "Lora", serif, sans-serif;
}

main p {
    font-size: 1.25em;
}

main h3 {
    padding-top: 2%;
}
#info ul{
    margin-left:3%;
}

main ul {
    list-style-type: square;
}

/* Style rules for links */
.link {
    color: #4d3319; 
    text-decoration: none; 
    font-weight: bold; 
    font-style: italic; 
}

/* Style rules for action text */
.action {
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
}
.round{
    border-radius:6px;
}


/* Style rules for contact section */
#contact {
    text-align: center;
}


/* Style rules for footer content */
footer {
    text-align: center;
    font-size: 0.85em;
    background-color: #2a1f14;
    color: #f6eee4;
    padding: 1%;
    padding-left: 0%;
    padding-right: 0%;
}

/* Light blue color for the email in the footer */
footer a {
    color: #f3e6d8;
    text-decoration: none;
}



main img {
    margin: 0 auto;
}


